  <template lang="html">
  <div id="button" class="content">
    <div class="panel panel-primary">
  <div class="panel-heading">Demo Locker Board 1</div>
  <div class="panel-body">
  <form action="" method="#" class="form-horizontal" role="form">
    <div class="col-md-4" v-for="n in 12">
      <div class="form-group">
    <label class="control-label col-sm-4" for="email">Locker {{n}}:</label>
    <div class="col-sm-8">
    <button @click="forceonboard1(n)" type="button" class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i>Force ON </button>
    </div>
  </div>
</div>
  </v-for>
</form>
  </div>
</div>
<!--  -->
<div class="panel panel-primary">
<div class="panel-heading">Demo Locker Board 2</div>
<div class="panel-body">
<form action="" method="#" class="form-horizontal" role="form">
<div class="col-md-4" v-for="n in 12">
  <div class="form-group">
<label class="control-label col-sm-4" for="email">Locker {{n}}:</label>
<div class="col-sm-8">
<button @click="forceonboard2(n)" type="button" class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i>Force ON </button>
</div>
</div>
</div>
</v-for>
</form>
</div>
</div>
</div>
</template>

<script>
export default {
  data () {
    return {
      tombol: {
        qty: 24
      }
    }
  },
  methods: {
    forceonboard1: function (param) {
      var paramJson = {
        'board_version': '2',
        'no_board': '1',
        'no_channel': param.toString()
      }
      const thisVue = this
      thisVue.axios({
        method: 'post',
        data: paramJson,
        url: 'device/forceon'
      }).then(function (response) {
        console.log(response)
      }).catch(function (error) {
        console.log(error)
      })
    },
    forceonboard2: function (param) {
      var paramJson = {
        'board_version': '2',
        'no_board': '2',
        'no_channel': param.toString()
      }
      const thisVue = this
      thisVue.axios({
        method: 'post',
        data: paramJson,
        url: 'device/forceon'
      }).then(function (response) {
        console.log(response)
      }).catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<style lang="css">
</style>
