<template lang="html">
  <div id="customersimpan" class="content">
    <div v-if="proses===1">
      <div class="panel panel-primary">
    <div class="panel-heading">Masukkan Nomor AWB</div>
    <div class="panel-body">
    <form action="" method="#" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-4" for="">No Invoice. :</label>
        <div class="col-sm-6">
          <input required type="text" class="form-control" v-model="no_invoice" placeholder="Enter Invoice No.">
        </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-4 col-sm-8">
        <button  class='btn btn-primary' @click.prevent="proses1()">
          <i class="fa fa-search"></i>Proses</button>
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
    <div v-else-if="proses===2">
      <div class="panel panel-primary">
    <div class="panel-heading">Masukkan Nomor Seluler</div>
    <div class="panel-body">
    <form action="" method="#" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-4" for="">No Seluler. :</label>
        <div class="col-sm-6">
          <input required type="text" class="form-control" v-model="no_seluler" placeholder="Enter Seluler No.">
        </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-4 col-sm-8">
        <button  class='btn btn-primary' @click.prevent="proses2()">
          <i class="fa fa-search"></i>Proses</button>
       </div>
      </div>
    </form>
    </div>
  </div>
    </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      proses: 1
    }
  },
  mounted () {
    this.proses = 1
  },
  methods: {
    sendrandomopenlocker: function () {
      const thisVue = this
      thisVue.axios({
        method: 'get',
        url: 'device/randomopenlocker'
      }).then(function (response) {
        console.log(response)
      }).catch(function (error) {
        console.log(error)
      })
    },
    proses1: function () {
      this.proses = 2
    },
    proses2: function () {
      const vueThis = this
      swal({
        title: 'Are you sure?',
        text: 'Masukan Barang di loker x',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Oke Barang di taruh'
      }).then(function () {
        swal(
      'Info!',
      'Barang Anda sudah di taruh, PIN CODE akan di kirim ke nomor xxx',
      'success'
    )
        vueThis.proses = 1
      })
    }

  }
}
</script>

<style lang="css">
</style>
