<template lang="html">
  <div id="customerambil" class="content">
    <div v-if="proses===1">
      <div class="panel panel-primary">
    <div class="panel-heading">Masukkan Kode PIN</div>
    <div class="panel-body">
    <form action="" method="#" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-4" for="">Kode PIN :</label>
        <div class="col-sm-6">
          <input required type="text" class="form-control" v-model="no_pin" placeholder="Enter Pin Code">
        </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-4 col-sm-8">
        <button  class='btn btn-primary' @click.prevent="proses1()">
          <i class="fa fa-search"></i>Proses</button>
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- proses2 -->

</div>
</template>

<script>
export default {
  data () {
    return {
      proses: 1
    }
  },
  mounted () {
    this.proses = 1
  },
  methods: {
    proses1: function () {
      // const vueThis = this
      swal({
        title: 'Informasi',
        text: 'Barang Anda ada di loker x',
        type: 'info'
    // showCancelButton: true,
    // confirmButtonColor: '#3085d6',
    // cancelButtonColor: '#d33',
    // confirmButtonText: 'Oke Barang di taruh'
      }).then(function () {
        swal(
  'Info!',
  'Tutup Kembali pintu locker',
  'success'
)
      })
    }
  }
}
</script>

<style lang="css">
</style>
