<template lang="html">
  <div id="kurirsimpan" class="content">
    <div class="panel panel-primary">
  <div class="panel-heading">Demo Kurir Simpan Barang</div>
  <div class="panel-body">
  <form action="" method="#" class="form-horizontal" role="form">
    <div v-if="proses=1">

    </div>
    <div v-if="proses=2">

    </div>
    <div v-if="proses=2">

    </div>
</form>
  </div>
</div>
</div>
</template>

<script>
export default {
  data () {
    return {
      proses: 1
    }
  },
  mounted () {
    this.proses = 1
  }
}
</script>

<style lang="css">
</style>
