<template lang="html">
  <div id="kurirambil" class="content">
    <div class="panel panel-primary">
  <div class="panel-heading">Demo Kurir Ambil Barang </div>
  <div class="panel-body">
  <form action="" method="#" class="form-horizontal" role="form">

</form>
  </div>
</div>
</div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
