<template lang="html">
    <div id="proses" class="content">
      <div class="panel panel-primary">
    <div class="panel-heading">Proses Locker</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-4" for="">Invoice No. :</label>
              <div class="col-sm-6">
                <input required type="text" class="form-control" v-model="no_invoice" placeholder="Enter Invoice No.">
              </div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-4 col-sm-8">
              <button  class='btn btn-primary' @click.prevent="cekdatapickup()">
                <i class="fa fa-search"></i>Cek</button>
             <button  class='btn btn-primary'>
               <i class="fa fa-eraser"></i>Clear</button>
             </div>
            </div>
          </form>
          </div>
        </div>
<!-- start row -->
        <div class="row">
          <!-- col 1 -->
          <div class="col-md-6">
            <form class="form-horizontal">
          <div class="form-group">
          <label class="control-label col-sm-5" for="email">invoice_id:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.invoice_id" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">pickup_address:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.pickup_address" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">pickup_locker_name:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.pickup_locker_name" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">pickup_locker_size:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.pickup_locker_size" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">item_description:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.item_description" disabled>
        </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">recipient_name:</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" v-model="responsePickupDetail.recipient_name" disabled>
        </div>
          </div>

          </form>
          </div>
          <!-- col 2 -->
          <div class="col-md-6">
            <form class="form-horizontal">

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">recipient_phone:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.recipient_phone" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">recipient_address:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.recipient_address" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">recipient_locker_size:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.recipient_locker_size" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">recipient_email:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.recipient_email" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">status:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.status" disabled>
          </div>
          </div>

          <div class="form-group">
          <label class="control-label col-sm-5" for="email">order_date:</label>
          <div class="col-sm-7">
          <input type="email" class="form-control" v-model="responsePickupDetail.order_date" disabled>
          </div>
          </div>

          </form>
          </div>
          <!--  -->
          <div v-if='proses===2'>
            <div class="row-fluid">
              <button @click="kirimbarangproses3()" type="button" name="button btn-primary" >Continue</button>
            </div>
          </div>
        </div>
<!-- end row -->
    </div>
      </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      no_invoice: 'PLA1706221339689',
      responsePickupDetail: {
        invoice_id: '',
        pickup_address: '',
        pickup_locker_name: '',
        pickup_locker_size: '',
        item_description: ' ',
        recipient_name: ' ',
        recipient_phone: '',
        recipient_address: '',
        recipient_locker_size: '',
        recipient_email: '',
        status: '',
        order_date: ''
      }
    }
  },
  mounted () {
    // this.cekpickupdetail()
  },
  methods: {
    // kirimbarangproses1
    cekpickupdetail: function (paramx) {
      var thisVue = this
      var param = {
        token: '',
        phone: ' ',
        invoice_id: paramx
      }
      thisVue.axios({
        method: 'post',
        // url: 'https://internalapi.popbox.asia/pickup/detail',
        url: 'proses/pickupdetail',
        data: param
      })
        .then(function (response) {
          console.log(response)
          thisVue.responsePickupDetail.invoice_id = response.data.data.invoice_id
          thisVue.responsePickupDetail.pickup_address = response.data.data.pickup_address
          thisVue.responsePickupDetail.pickup_locker_name = response.data.data.pickup_locker_name
          thisVue.responsePickupDetail.pickup_locker_size = response.data.data.pickup_locker_size
          thisVue.responsePickupDetail.item_description = response.data.data.item_description
          thisVue.responsePickupDetail.recipient_name = response.data.data.recipient_name
          thisVue.responsePickupDetail.recipient_phone = response.data.data.recipient_phone
          thisVue.responsePickupDetail.recipient_address = response.data.data.recipient_address
          thisVue.responsePickupDetail.recipient_locker_size = response.data.data.recipient_locker_size
          thisVue.responsePickupDetail.recipient_email = response.data.data.recipient_email
          thisVue.responsePickupDetail.status = response.data.data.status
          thisVue.responsePickupDetail.order_date = response.data.data.order_date
// set to answer to lanjut
          thisVue.proses = 2
        //   swal({
        //     title: 'Are you sure?',
        //     text: 'Lanjut!',
        //     type: 'warning',
        //     showCancelButton: true,
        //     confirmButtonColor: '#3085d6',
        //     cancelButtonColor: '#d33',
        //     confirmButtonText: 'Continue'
        //   }).then(function () {
        // // if yes clicked
        //
        //   })
        // }).catch(function (error) {
        //   swal(
        //       'info',
        //       error.response.data,
        //       'error'
        //     )
        })
    },
    kirimbarangproses3: function () {
      alert('2')
    },
    kirimbarangproses2: function () {
      var thisVue = this
      var temp = this.no_invoice
      thisVue.axios({
        method: 'post',
        // url: 'https://internalapi.popbox.asia/pickup/detail',
        url: 'proses/popsend',
        data: {
          invoice_id: temp
        }
      }).then(function (response) {
        alert(response.data.data.status)
        // swal({
        //   title: 'Info',
        //   text: response.data.data.status,
        //   type: 'Success'
        // })
      }).catch(function (error) {
        console.log(error)
      })
    },
    cekdatapickup: function (e) {
      if (this.no_invoice === '') {
        swal(
            'info',
            'please fill no invoice',
            'error'
          )
        return false
      }
      this.cekpickupdetail(this.no_invoice)
    }
  }
}
</script>

<style lang="css">
</style>
