<template lang="html">
  <div id="pendaftaranpasien" class="content">
    <!-- <h1>Biodata Pasien Baru</h1> -->
    <form action="" method="#" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">nama_lengkap </label>
            <div class="col-sm-10">
                <input v-model="biodata_pasien.nama_lengkap" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">jenis_kelamin </label>
            <div class="col-sm-10">

            <input v-model="biodata_pasien.jenis_kelamin" type="text" class="form-control" required>
</div>
            <!-- <div class="col-sm-10">
              <label class="radio-inline">
          <input type="radio" name="optradio" v-model="biodata_pasien.jenis_kelamin" >Laki_laki
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" v-model="biodata_pasien.jenis_kelamin" >Perempuan
        </label>
            </div> -->
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">tanggal_lahir </label>
            <div class="col-sm-10">
                <input v-model="biodata_pasien.tanggal_lahir" type="text"  id="demo"  class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">no_bpjs </label>
            <div class="col-sm-10">
                <input v-model="biodata_pasien.no_bpjs" type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button @click.prevent="buatpendaftarbaru()" class="btn btn-primary btn-block">Tampilkan Data</button>
            </div>
        </div>
    </form>
</div>
</template>

<script>
export default {
  data () {
    return {
      biodata_pasien: {
        nama_lengkap: '',
        jenis_kelamin: '',
        tanggal_lahir: '',
        no_bpjs: ''
      }
    }
  },
  mounted () {
    $('#demo').daterangepicker({
      locale: {
        format: 'DD-MM-YYYY'
      },
      // 'dateLimit': {
      //   'minutes': 30 * 24 * 60
      // },
      'singleDatePicker': true
      // 'timePicker': true,
      // 'timePicker24Hour': true,
      // 'timePickerSeconds': true,
      // 'startDate': '11-06-2017',
      // 'endDate': '12-06-2017'
    }, function (start, end, label) {
      console.log(start.format('YYYY-MM-DD'))
      // paramDate.startdate = start.format('YYYY-MM-DD HH:mm:ss.SSS')
      // paramDate.enddate = end.format('YYYY-MM-DD HH:mm:ss.SSS')
    })
  },
  methods: {
    buatpendaftarbaru: function () {
      if (this.biodata_pasien.nama_lengkap === '' ||
        this.biodata_pasien.jenis_kelamin === '' ||
        this.biodata_pasien.tanggal_lahir === '' ||
        this.biodata_pasien.no_bpjs === '') {
        swal(
            'info',
            'harap isi biodata secara lengkap',
            'error'
          )
      }
      var thisVue = this
      thisVue.axios({
        method: 'post',
        url: '/pasien/pendaftaranbaru',
        data: thisVue.biodata_pasien
      })
        .then(function (response) {
          swal(
              'info',
              'Pendaftaran baru berhasil',
              'success'
            )
        }).catch(function (error) {
          swal(
              'info',
              'server error',
              'error'
            )
          console.log(error)
        })
    }
  }
}
</script>

<style lang="css">
</style>
