<template lang="html">
  <div id="Realtimesensor" class="content">
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label col-sm-5" for="pwd">Nama Pasien:</label>
              <div class="col-sm-6">
          <select class="form-control" name="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
              </div>
          </div>
      </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-primary">
            START RECORD
          </button>
          <button type="button" class="btn btn-danger">
            STOP RECORD
          </button>
        </div>
      </div>
      <br style="border-style:2px solid gray">
      <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-5" for="pwd">Temperature:</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" v-model="realtime_sensor.temperature" placeholder="???">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-5" for="pwd">BPM :</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" v-model="realtime_sensor.bpm"  placeholder="???">
                </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label class="control-label col-sm-5" for="pwd">Last Update :</label>
                  <div class="col-sm-7">
                      <input disabled type="text" class="form-control" v-model="realtime_sensor.last_update"  placeholder="???">
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="gauge1">

            </div>
            </div>
            <div class="col-md-6">
              <div id="gauge2">

              </div>
              </div>
        </div>
</div>
</template>

<script>

export default {
  data () {
    return {
      gauge1: '',
      realtime_sensor: {
        namapasien: '',
        temperature: '',
        bpm: '',
        last_update: ''
      }
    }
  },
  mounted () {
    this.realtimelast()
    setInterval(this.realtimelast, 1000)
    document.addEventListener('DOMContentLoaded', function () {
      this.gauge1 = $('#gauge1').jqxGauge({
        ranges: [{ startValue: 0, endValue: 55, style: { fill: '#4bb648', stroke: '#4bb648' }, endWidth: 5, startWidth: 1 },
                            { startValue: 55, endValue: 110, style: { fill: '#fbd109', stroke: '#fbd109' }, endWidth: 10, startWidth: 5 },
                            { startValue: 110, endValue: 165, style: { fill: '#ff8000', stroke: '#ff8000' }, endWidth: 13, startWidth: 10 },
                            { startValue: 165, endValue: 220, style: { fill: '#e02629', stroke: '#e02629' }, endWidth: 16, startWidth: 13 }],
        ticksMinor: { interval: 5, size: '5%' },
        ticksMajor: { interval: 10, size: '9%' },
        value: 0,
        colorScheme: 'scheme05',
        animationDuration: 1200,
        caption: {
          value: 'Temperature',
          position: 'bottom',
          offset: [0, 10],
          visible: true
        }
      })
      this.gauge1 = $('#gauge2').jqxGauge({
        ranges: [
          { startValue: 0, endValue: 55, style: { fill: '#4bb648', stroke: '#4bb648' }, endWidth: 5, startWidth: 1 },
          { startValue: 55, endValue: 110, style: { fill: '#fbd109', stroke: '#fbd109' }, endWidth: 10, startWidth: 5 },
          { startValue: 110, endValue: 165, style: { fill: '#ff8000', stroke: '#ff8000' }, endWidth: 13, startWidth: 10 },
          { startValue: 165, endValue: 500, style: { fill: '#e02629', stroke: '#e02629' }, endWidth: 16, startWidth: 13 }
        ],
        ticksMinor: { interval: 5, size: '5%' },
        ticksMajor: { interval: 10, size: '9%' },
        value: 0,
        colorScheme: 'scheme02',
        animationDuration: 1200,
        caption: {
          value: 'BPM',
          position: 'bottom',
          offset: [0, 10],
          visible: true
        },
        max: 400
      })
    })
  },
  methods: {
    realtimelast: function () {
      var thisVue = this
      thisVue.axios({
        method: 'get',
        url: '/device/realtimelast'
      })
        .then(function (response) {
          $('#gauge1').jqxGauge({
            value: parseInt(response.data.data.temperature, 10)
          })
          $('#gauge2').jqxGauge({
            value: parseInt(response.data.data.bpm, 10)
          })
          thisVue.realtime_sensor.temperature = response.data.data.temperature
          thisVue.realtime_sensor.bpm = response.data.data.bpm
          thisVue.realtime_sensor.last_update = response.data.data.created_at
        }).catch(function (error) {
          swal(
              'info',
              'server error',
              'error'
            )
          console.log(error)
        })
    }
  }

}

</script>

<style lang="css">
</style>
